/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "additional-styles.scss";

.line {
  background-image: url('line.png');
  background-repeat: repeat-x;
  padding-top: 1.9%
}

.reviews {
  background-image: url('reviews.jpg');
  height: 75%;
  width: 100%;
   background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%
}

.icon-paddings {
  margin-top: 40px;
}

.review-text {
  color: white;
}
