<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Here will be image</div>
            <div class="intro-heading">And some text</div>
        </div>
    </div>
</header>
