<header>
  <div class="container">
    <div class="intro-topic">Тепло для вас</div>
    <div class="intro-text-about-us">
      Мы утепляем строения ЭКОВАТОЙ.<br>
      Эковата - современный, выгодный, экологически чистый утеплитель<br> для всех конструкций Вашего дома
    </div>
    <div class="img-for-banner"></div>
  </div>
</header>
