<div class="reviews">
  <div class="row text-center">
      <h2 class="review-header">Отзывы</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-3 review-text">
        <div class="row">
          "Построил дом, крышу на мансарде утеплил каменной ватой, покрыл металлочерепицой.
          Если идет дождь - в комнате шумно. Весной стал собираться конденсат и влага попадала в дом.
          По совету друзей заменил каменную вату эковатой. Живу третий год и не знаю, что такое шум от дождя и нет влаги.
          Стало теплее."
        </div>
        <div class="row review-signature">
          Сергей
        </div>
      </div>

      <div class="col-lg-1">
      </div>
      <div class="col-lg-3 review-text">
        <div class="row">
          "Живем в своём доме  8 лет, дом обит сайдингом, под сайдингом был изовер. От влаги изовер скукожился и много денег уходило на отопление. Заменил  изовер на эковату и не жалею - тепло, сухо и меньше плачу денег на отопление!"
        </div>
        <div class="row review-signature">
          Артем
        </div>
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-3 review-text">
        <div class="row">
          "Утеплил каюту на корабле эковатой - летом в жаре не жарко, осенью - не холодно, Утепление всего 7 сантиметров!  Жаль, что не знал раньше!"
        </div>
        <div class="row review-signature">
          Слава
        </div>
        <br>
        <div class="row">
          "Пригласил ребят - приехали за 200км, обшили дом, утеплили эковатой.   Доволен и ценой, и качеством! Устроило, что работают в выходные дни."
        </div>
        <div class="row review-signature">
          Илья и Ира
        </div>
      </div>
    </div>
  </div>
</div>
