<div class="reviews">
  <div class="row text-center">
      <h2 class="review-header">Отзывы</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-3 review-text">
        <div class="row">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </div>
        <div class="row review-signature">
          Ivan Petrov
        </div>
      </div>

      <div class="col-lg-1">
      </div>
      <div class="col-lg-3 review-text">
        <div class="row">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </div>
        <div class="row review-signature">
          Ivan Petrov
        </div>
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-3 review-text">
        <div class="row">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </div>
        <div class="row review-signature">
          Ivan Petrov
        </div>
      </div>
    </div>
  </div>
</div>
